<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <p>{{text}}</p>
    <img src="./img/robot-01.webp">
    {{>footer}} <!-- เรียกใช้ footer.hbs ที่เรา registerPartials ไปในหน้า app.js -->
</body>

</html>