<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}} <!-- เรียกใช้ header.hbs ที่เรา registerPartials ไปในหน้า app.js -->
    <p>{{text}}</p>
    <p>{{error_lastest}}</p>
        <form>
            <input placeholder="insert the location">
            <button>Search</button>
        </form>

        <p id="message1"></p>
        <p id="message2"></p>
        <p id="message3"></p>
        <p id="message4"></p>
        <p id="message5"></p>
        <p id="message6"></p>
    {{>footer}} <!-- เรียกใช้ footer.hbs ที่เรา registerPartials ไปในหน้า app.js -->

    <script src="/js/app.js"></script>

</body>

</html>